.form-container {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 50px;
  }
  
  .form-input {
    margin-bottom: 20px;
  }
.container-button {
    margin: 10px 0px 0px 0px;
}
  .form-container {
    background-color:   #f1f3f4 ;
    padding: 20px;
    margin: 20px;
    display: flex;
    width: 100%;
    flex-direction: column; /* Alinea los elementos en una columna */
    align-items: center; /* Centra los elementos horizontalmente */
    justify-content: center; /* Centra los elementos verticalmente */
    height: 100vh; /* Establece la altura del contenedor al 100% del viewport */
  }
  
  .form-wrapper {
    background-color:  white;
    padding: 30px;
    border-radius: 20px;
    width: 80%; /* Establece el ancho del formulario */
    max-width: 400px; 
    box-shadow: 12px 12px 12px 12px rgba(0, 0, 0, 0.1); 
}